*{
margin:0px;
padding:0px;
}
#wrapper
{
width:100%;
height:100%;
}
.header{
border-top:3px #f52525 solid;width:100%;
background:url(images/header_bg.png) no-repeat;
height: 104px;
}
.logo{
margin: 16px 0px 0px 182px;
font-size: 55px;
color: #FFFFFF;
}

.social{
margin: -79px 0px 0px 927px;

}

.button{
margin:-34px 0px 0px 994px;
}
.log{font-size: 18px;
color: #FFFFFF;
margin: 0px 0px -1px 1007px;
padding: 8px;
position: relative;
top: 14px;
}

.topbutton{
text-decoration: none;
margin: -126px;
font-size: 16px;
color: #FFFFFF;
padding: 2px;
position: relative;
top: -10px;
}


.container{
width: 100%;
height:1659px;
background:url(images/contain_bk.png);
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: initial;
}


.main{margin:0px 0px 0px 140px;}
.social1{
padding:31px 0px 0px 959px;
position:absolute;
}
.search{
background: linear-gradient(to bottom, #fed566 1%,#f8a71e 100%); /* W3C */
padding: 20px;
position:absolute;
width: 328px;
color: #c50000;
margin-left:760px;
margin-top:77px;
font-size:18px;
border-radius: 3px;
box-shadow: 0 0 0 1px #e1bd4a,0px 0px 0px 9px rgba(221, 183, 66, 0.5);
height: 300px;
}

.search input{
box-shadow: 0 0 0 1px #fafafa,0px 0px 0px 9px rgba(250, 250, 250, 1.5);
margin: 28px 0px 0px 16px;
width: 293px;
height: 35px;
border: 1px solid #ccc;
font-size: .8em;
border-radius: 4px;
}



.search input:focus{
border:2px #f8a71e solid;

}
input#bigbutton {
width: 312px;
margin-left: 9px;
height:47px;
border: 3px solid #b20d0d;/*required or the default border for the browser will appear*/
font-family:Myriad Pro;

/*style the text*/
font-size: 20px;
letter-spacing:.1em;
-webkit-box-shadow: inset 0px 0px 0px #3e9cbf, 0px 0px 0px 0px #205c73, 0px 0px 0px #999;
color:#FFFFFF;
background: linear-gradient(to bottom, #db2222 31%,#f62b2b 100%);
border-radius: 9px;

}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#bigbutton:hover, input#bigbutton:focus {
color:#f8ab23;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #FFF0F0, 0px 2px 0px 0px #FFF0F0, 0px 0px 0px #FFF0F0;
cursor:pointer;
}

.leftsearch{
position:absolute;
color: #c50000;

width: 595px;
height:116px;
background: rgba(286, 255, 255 , 0.7); border-radius:5px; -webkit-border-radius:5px; 
margin-left: 148px;
margin-top:305px;
}

.leftsearch input{
box-shadow: 0 0 0 1px #fafafa,0px 0px 0px 9px rgba(250, 250, 250, 1.5);
margin: 6px 0px 2px 16px;
width: 385px;
height: 40px;
border: 1px solid #ccc;
font-size: .8em;
border-radius: 4px;

}

.leftsearch input:focus{
border:2px #f8a71e solid;

}

.howtowork-form
{
width:1001px;
height:115px;
border:2px #EBEBEB solid;
background:#FFFFFF;  border-radius:0px 0px 10px 10px;
margin-left:139px;
margin-top:-1px;
}
.howtowork-form ul{list-style:none;}
.howtowork-form ul li{float:left; font-size:14px; color:#c32437;padding: 18px 11px 0px 42px; font-weight:bold; background:url(images/rightdivder.png) no-repeat;position: relative;
top: 5px;}

.footer{width:100%; height:432px; background-color:#333333;
color:#FFFFFF;
}
.footerup
{
padding:30px;

}

.footer input{
margin: 6px 0px 2px 16px;
width: 240px;
height: 40px;
border: 1px solid #ccc;
font-size: .8em;
border-radius: 4px;

}

.footer input:focus{
border:2px #f8a71e solid;
}

.footerup ul{
list-style:none; margin-left: -19px;
}
.footerup li{
background:url(images/checkimg1.png) no-repeat;
margin:26px 0px -16px 34px;
}
.footer2 ul{ list-style:none; float:left;
 position: relative;top: 48px; margin-left: 90px;}
 
.footer2 ul li{
margin: 9px 0px 0px 0px;
float: left;
padding: 4px;}

.footer2 span{margin-left:6px; font-size:19px;}

.footer3 ul{list-style:none; float: left;}
.footer3 ul li{font-size: 18px;
float: left;
color: #f73e3b;

padding: 9px;
margin-left: 71px;
margin-top: 10px;
border-bottom: 1px #ffffff dashed;}

.footer3 ul li:hover{ color:#FFFFFF; cursor:pointer;}

.second ul{list-style:none}
.second ul li{font-size:15px;
color:#FFFFFF;
margin-right: 58px;
margin-left: 158px;
margin-top: 7px;
position: relative;
top: 20px;
}
.second ul li:hover{ color:#E80000; cursor:pointer; list-style:disc;}
.midmain{
 position: relative;
top: 51px;
margin-left:8px;
font-size: 36px;
color: #c50000;
}

.topbrands ul{list-style:none;}
.topbrands ul li{color: #c50000;
float:left;
width: 124px;
height: 95px;
background: rgba(286, 255, 255 , 0.5);
border-radius: 5px;
-webkit-border-radius: 5px;
position: relative;
top: -54px;
margin-left: 25px;
margin-top: 60px;
border: 1px #d8d8d8 solid;}


.topbrands ul li span {margin-left: -1px;
font-size: 18px;
color: #666666;
position: relative;
top: 13px;}

.app{margin-left: 12px;
margin-top: 243px;width: 1004px;
height: 272px;
background: rgb(249, 249, 249);
border-radius: 5px; -webkit-border-radius: 5px;}


.deals{width: 917px;
height: 402px;
margin-top: 29px;
background: rgb(286, 255, 255);
}

.fdeals ul{list-style:none;}
.f ul li{background: rgba(286, 255, 255 , 0.5);
border: 1px #d8d8d8 solid;
width: 262px;
float: left;
padding: 9px;
height: 162px;
border-radius: 5px;
margin-left: 18px;
position: relative;
top: 13px;
}

.fdeals ul li img{width: 136px;
height: 136px;
border: 1px #d8d8d8 solid;
margin: 1px 0px 0px -126px;}


.sdeals {list-style:none;}
.s ul li{background: rgba(286, 255, 255 , 0.5);
border: 1px #d8d8d8 solid;
width: 262px;
float: left;
padding: 9px;
height: 162px;
border-radius: 5px;
margin-left: 18px;
position: relative;
top: 26px;
}
.sdeals ul li img{width: 136px;
height: 136px;
border: 1px #d8d8d8 solid;
margin: 1px 0px 0px -126px;}

/*.btn{background: linear-gradient(to bottom, #db2222 31%,#f62b2b 100%);
border-radius: 5px;
color: #FFFFFF;
width: 108px;
height: 32px;
webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
text-decoration: none;
font-size: 15px;
position: absolute;
margin-left: -433px;
margin-top: 131px;
line-height: 32px;
font-weight: bold;
}
.btn:hover{ cursor:pointer; background:#FF9900;}
*/
#login
{
/*border:1px solid Red;*/
width:450px;
height:300px;
float:left;
margin-right:20px;
margin-left:200px;
margin-top:50px;
}
#account
{
width:475px;
height:300px;
margin-top:50px;
float:left;
}

.formrow
{
font-family:"Times New Roman", Times, serif;
color:#151515;
text-align:left;
width:450px;
height:20px;
font-size:18px;


}
.textbox
{
width:400px;
height:40px;
border:1px solid #A4A4A4;
margin-top:5px;
border-radius:5px;
margin-bottom:30px;
}
.textbox:focus
{
border: 2px solid #F8A71E;
}
.btnsubmit {
    background: linear-gradient(to bottom, #DB2222 31%, #F62B2B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 32px;    
    position: relative;
    text-decoration: none;
    width: 108px;
}
.btnsubmit:hover {
    background: none repeat scroll 0 0 #FF9900;
    cursor: pointer;
}
a.button-large {
    background: none repeat scroll 0 0 #F62B2B ;
    border: medium none;
    border-radius: 5px;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
   font-weight:bold;    
    font-size:15px;    
    padding: 15px 20px;
    text-align: center;
}
a.button-large:hover {
    background-color: #E58A14;
    text-decoration: none;
}
.check {
    margin-bottom: 25px;
}
ul li
{
list-style:none;
}
.check li {
    background-image:url(images/check.png);
    background-position: left 3px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 25px;
	font-size:15px;
}
a.fb {
    background-color: #20417C;
    /*background-image: url("../images/fb-login.png");*/
    background-position: 15px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}
a.fb:hover {
    background-color: #2E5FB6;
}
#leftmenu
{
width:275px;
height:500px;
border:1px solid #676767;
float:left;
margin-right:20px;
margin-left:133px;
}
#rightcontent
{
width:705px;
height:500px;
border:1px solid #2e5fb6;
float:left;
}