/* CSS Document */
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	background-color:#E3FDD0;
}
table.imagetable th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td:hover
{
background:#ACF58D;
}
